    <div class="d-flex">
        <%= link_to gravatar_for(@user, size: 52), @user %>
        <h2>
            <%= @user.name %>
        </h2>
    </div>

    <span>
        <%= link_to "view my profile", current_user, class: "text-center text-secondary" %>
    </span>
    <span>
        <%= pluralize(@user.microposts.count, "micropost") %>
    </span>
